<section id="scroll-anchor" class="page_heading">
  <center>
    <h1 class="fw-bold text-uppercase text-light mb-3">Sponsor Benefits</h1>
    <div class="container">
      <hr class="bg-light" />
    </div>
  </center>
</section>

<section class="container">
  <center>
    <h1 class="headings">Benefits for Sponsors</h1>
    <p>
      Gain prominent exposure and connect with key industry leaders by
      sponsoring our pivotal AML & Ethics 2025 conference.
    </p>
  </center>

  <div class="row mt-5">
    <div class="col-12 col-md-6 mb-4">
      <div class="exhibit_card h-100 p-3">
        <h4 class="exhibit_titles mb-3">First Benefit</h4>
        <p class="exhibit_text">
          Enhanced brand visibility among top financial crime prevention
          professionals and decision-makers.
        </p>
      </div>
    </div>
    <!-- end main col  -->
    <div class="col-12 col-md-6 mb-4">
      <div class="exhibit_card h-100 p-3">
        <h4 class="exhibit_titles mb-3">Second Benefit</h4>
        <p class="exhibit_text">
          Exclusive networking opportunities withindustry leaders, experts, and
          potential clients.
        </p>
      </div>
    </div>
    <!-- end main col  -->
    <div class="col-12 col-md-6 mb-4">
      <div class="exhibit_card h-100 p-3">
        <h4 class="exhibit_titles mb-3">Third Benefit</h4>
        <p class="exhibit_text">
          Recognition and credibility as a key player in the fight against
          financial crime.
        </p>
      </div>
    </div>
    <!-- end main col  -->
  </div>

  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-12 mb-3 col-md-6 col-lg-4">
      <a
        href="{% url 'Register' %}"
        hx-get="{% url 'Register' %}"
        hx-target="#content"
        hx-push-url="true"
      >
        <button class="btn btn-dark primary_btn py-3">Register Now</button>
      </a>
    </div>
  </div>
</section>
